<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cc.ssiframe.dao.AddressDAO">
            
         <!-- <insert id="insertUser" parameterType="User" keyProperty="id">
             insert into days_user( 
         state,
         nickname)
         values
         (       
         #{state},
         #{nickname})
         </insert> -->
         
	<insert id="insert" parameterType="Address" keyProperty="addrId">
		<selectKey ></selectKey>
		INSERT INTO ADDRESSES 
		(STREET,CITY,STATE,ZIP,COUNTRY) VALUES 
 		(#{street},#{city},#{state},#{zip},#{country})
	</insert>
	
	<select id="getById" resultMap="AddressResult">
		select * from ADDRESSES where addr_id = #{addrId}
	</select>
	
	<resultMap type="Address" id="AddressResult">
  		<id property="addrId" column="addr_id"/>
		<result property="street" column="street"/>
		<result property="city" column="city"/>
		<result property="state" column="state"/>
		<result property="zip" column="zip"/>
		<result property="country" column="country"/>
  	</resultMap>
          
</mapper>
